#evroca-carousel::-webkit-scrollbar{
  width:0;
  height:0;
  background:transparent;
}
#evroca-carousel{
  white-space:nowrap;
  overflow-x:auto;
  overflow-y:hidden;
  scroll-behavior:smooth;
}
.evroca-carousel-item{
  white-space:normal;
  display:inline-block;
  width:25%;
  white-space:normal;
}
.evroca-chevron{
  position:absolute;
  top:calc(50% - 35px / 2);
  width:35px;
  height:35px;
  text-align:center;
  border-radius:100%;
  background:rgba(0,0,0,0.3);
  color:#fff;
  z-index:1;
}
#evroca-carousel-circles{
  display:flex;
  align-items:center;
  justify-content:center;
}
.evroca-carousel-circle{
  border:2px solid #bbb;
  background:#fff;
  border-radius:100%;
  width:5px;
  height:5px;
  margin:16px 8px 0 0;
  transition:all 0.3s ease-in-out;
}
.evroca-carousel-circle:last-child{
  margin-right:0;
}
.evroca-carousel-circle.active{
  background:#999;
  border:2px solid #999;
  transform:scale(1.3);
}
@media screen and (max-width:900px) {
  .evroca-carousel-item{
    width:50%;
  }
}
@media screen and (max-width:600px) {
  .evroca-carousel-item{
    width:100%;
  }
}
